<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/bork.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <h1>SELECT YOUR BORK!!!!</h1>
        <form action="bork" method="post">
            <select name="bork">
            <option value="TheBorkFiles.txt">The Bork Files</option>
            <option value="BorkBusters.txt">Bork Busters</option>
            <option value="JurassicBork.txt">Jurassic Bork</option>
            <option value="IndianaBorks.txt">Indiana Borks</option>
            <option value="GourmetBorks.txt">Gourmet Borks</option>
            <option value="SpookyScaryBorks.txt">Spooky Scary Borks</option>
            <option value="RoadBorks.txt">Road Borks</option>
            <option value="ImperialBorks.txt">Imperial Borks</option>
            <option value="CarelessBork.txt">Careless Bork</option>
            <option value="PhysicalBorks.txt">Physical Borks</option>
            <option value="GaryBorkman-Cars.txt">Gary Borkman - Cars</option>
            <option value="SAFETYBORK.txt">SAFETY BORK</option>
            <option value="TheFinalBork.txt">The Final Bork</option>
            <option value="BorkemonGo.txt">Borkemon Go</option>
            <option value="HowToBork.txt">How To Bork</option>
            <option value="BorkMeUp.txt">Bork Me Up (Before You Dog-Go)</option>
            <option value="Borkrica[Toto].txt">Borkrica[Toto]</option>
            </select>
            <br><br>
            <input type="submit" value="Bork">
        </form>

    </body>
</html>
